<div class="profile-header">
  <div class="container">
    <div class="profile-info">
      <div class="avatar-container">
        <%= image_tag("narut.jpg", alt: "Avatar", class: "avatar-img") %>
      </div>
      <h1 class="profile-name"><%= @user.username %></h1>
    </div>
  </div>
</div>

<div class="description-container">
  <div class="container">
    <p><strong>About Me:</strong> <%= @user.description %></p>
  </div>
</div>

<div class="liked-activities-container">
  <div class="container">
  <p><strong>Liked Activities:</strong> <%= @user.description %></p>
  </div>
</div>

<div class="liked-activities-container">
  <div class="container">
  <p><strong>Liked Activities:</strong> <%= @user.description %></p>
  </div>
</div>
