<div class="content">
  <div class="tabs-container">
    <a href="/chats" class="tab active">Chats</a>
    <div class="tab">Events</div>
  </div>

  <div class="search-bar">
    <input type="text" id="search-input" placeholder="Search...">
  </div>

  <% if @chatrooms.any? %>
    <div class="cards-container">
      <% @chatrooms.each do |chatroom| %>
        <a href="<%= chatroom_path(chatroom) %>" class="card-link">
          <div class="card article-card">
            <div class="card-content">
              <div class="avatar-wrapper">
                <% if chatroom.activity.image.attached? %>
                  <%= cl_image_tag(chatroom.activity.image.key, { alt: "Activity Avatar", class: "avatar-image" }) %>
                <% else %>
                  <%= image_tag("default_avatar.png", alt: "Default Avatar", class: "avatar-image") %>
                <% end %>
              </div>
              <div class="card-details">
                <strong><%= chatroom.activity.name %></strong>
                <span>(<%= chatroom.activity.difficulty.capitalize %>)</span>
                <p><%= truncate(chatroom.activity.description, length: 80) %></p>
              </div>
            </div>
          </div>
        </a>
      <% end %>
    </div>
  <% else %>
    <p>No chatrooms available.</p>
  <% end %>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
$(document).ready(function() {
  $('#search-input').on('keyup', function() {
    var searchText = $(this).val().toLowerCase();
    $('.article-card').each(function() {
      var activityName = $(this).find('.card-details strong').text().toLowerCase();
      var activityDifficulty = $(this).find('.card-details span').text().toLowerCase();
      var card = $(this);
      if (activityName.includes(searchText) || activityDifficulty.includes(searchText)) {
        card.show();
      } else {
        card.hide();
      }
    });
  });
});
</script>
