<div class="chatrooms-show">
  <div class="banner banner-show-page">
    <%= image_tag("pennine_banner.jpeg", class: "banner-image") %>
    <h1><%= @activity.name %></h1>
    <div class="create-event-btn">
      <%= link_to new_event_path do %>
        <i class="fa-solid fa-person-hiking"></i>
      <% end %>
    </div>
  </div>
  <div class="messages">
      <% @chatroom.messages.each do |message| %>
        <div id="message-<%= message.id %>" class="<%= message.user == current_user ? 'current-user' : 'other-user' %>">
        <% if message.user.photo.attached? %>
          <%= cl_image_tag message.user.photo.key, class: "avatar" %>
        <% end %>
          <small>
            <strong><%= message.user.username %></strong>
            <i><%= message.created_at.strftime("%d/%m/%y") %></i>
          </small>
          <p><%= message.content %></p>
        </div>
      <% end %>
    </div>
    <%= simple_form_for [@chatroom, @message],
    html: {class: "d-flex"} do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "communicate with fellow adventurers here...",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>

  <%= link_to 'Back to all chats', chatrooms_path %>
</div>
