<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <div class="burger-menu" id="burger-menu">
        <div class="burger-line"></div>
        <div class="burger-line"></div>
        <div class="burger-line"></div>
      </div>
      <div class="logo-container">
        <%= link_to "Tube2Trail", root_path, class: "navbar-item logo-item" %>
      </div>
    </div>
    <div class="navbar-menu" id="navbar-menu">
      <div class="navbar-end">
        <%= link_to "Login", new_user_session_path, class: "navbar-item" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "navbar-item" %>
        <%= link_to "Events", events_path, class: "navbar-item" %>
      </div>
    </div>
  </div>
</nav>

<!-- Bottom Navbar -->
<nav class="navbar navbar-bottom fixed-bottom">
  <div class="container">
    <%= link_to "Home", "#", class: "navbar-item bottom-item" %>
    <%= link_to "Messages", "#", class: "navbar-item bottom-item" %>
    <%= link_to "Profile", "#", class: "navbar-item bottom-item" %>
  </div>
</nav>


<body>
<%= javascript_include_tag "navbar" %>
</body>
