<div class="activities-container">
  <% @activities.each do |activity| %>
    <div class="activity-card" data-controller='activities-text'>
      <% if activity.image_key %>
        <%= cl_image_tag(activity.image_key, { alt: "Activity Cover", class: "activity-image" }) %>
      <% else %>
        <p class="no-image">No Image Available</p>
      <% end %>

      <div class="activity-details">
        <p class="activity-name"><%= activity.name %></p>
        <div class="activity-description">
          <!-- Display partial description -->
          <p data-activities-text-target='shortText'><%= truncate(activity.description, length: 0) %></p>

          <!-- Toggle full description -->
          <p class="full-description" style="display: none;" data-activities-text-target='fullText'><%= activity.description %>
           <span class="read-less"  >
              <a href="#" class="view-less-link" data-action='click->activities-text#viewLess'><i class="fa-solid fa-chevron-up"></i></a>
            </span></p>

          <% if activity.description.length > 0 %>
            <span class="read-more">
              <a href="#" class="view-more-link" data-action='click->activities-text#viewMore'><i class="fa-solid fa-chevron-down"></i></a>
            </span>
          <% end %>

        </div>
        <p class="activity-difficulty">Difficulty: <%= activity.difficulty %></p>


        <div class="activity-actions">

        <%= link_to activity_liked_activities_path(activity, liked: true), data: {turbo_method: :post, action: 'click->activities#likeActivity', 'activity-id': activity.id  }, class: 'like-button' do %>
         <i class="fa-solid fa-shoe-prints"></i>
        <% end %>

        <%= link_to activity_liked_activities_path(activity, liked: false), data: { turbo_method: :post, action: 'click->activities#dislikeActivity', 'activity-id': activity.id }, class: 'dislike-button' do %>
          <i class="fa-solid fa-x"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
